body{

  h1 {
    color: $themeFontColor2;
    font-family: cursive;
    font-weight: bold;
    font-size: 2.25em;
  }

  h3 {
    color: $themeColor3;
    font-family: cursive;
    margin-left: $marginSetting1;
  }

  .categoryList {
    width: $imageMobileWidth;
  }

  img {
    width: $imageMobileWidth;
  }



  button.btn.btn-primary {
    display:block;
    margin-left: $marginSetting1;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  p {
    margin: 5%;
  }


}
