body{

  h1 {
    color: $themeFontColor2;
    font-family: cursive;
  }

  h3 {
    color: $themeColor3;
    font-family: cursive;
    margin-left: 5%;
  }

  img {
    width: $imageMobileWidth;
  }


}
