body{


  h1 {
    color: $themeFontColor2;
    font-family: cursive;
    font-weight: bold;
    font-size: $themeFontSize2;
  }

  h3 {
    color: $themeColor3;
    font-family: cursive;
    margin-left: $marginSetting1;
  }

  .categoryList {
    width: $imageMobileWidth;
  }

  img {
    width: $imageMobileWidth;
  }


  button.btn.btn-primary {
    @include buttons($marginSetting1, $marginSetting4,$marginSetting4);
  }


  p {
    margin: $marginSetting1;
    &::after{
      content: '';
      display: block;
      clear: both;
    }
  }

  .paraLinks {
    margin-bottom: $marginSetting3;
    margin-left: $marginSetting1;
  }


  .errorMsg{
    @include errorMsg($themeColor3, $marginSetting3);
  }


  section.panel-body {
    padding: $paddingSetting3;

    p {
      margin: $marginSetting2;
    }
  }

}
