header{
  background-color: $themeColor1;
  text-align: center;

  h1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $paddingSetting1;
    padding-bottom: $paddingSetting1;
  }


  a:focus, a:hover {
    color: $themeColor1;
    text-decoration: none;
  }




}
