html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }

  main {
    flex-grow: 1;
    overflow: auto;
  }

  header, footer{
    padding-bottom: 0;
  }

  ul  {
    margin-bottom: 0;
  }


}
