html {
  min-height: 100%;
  position: relative;

  body {
    position: relative;
    min-height: $heightSetting2;
    display: flex;
    flex-direction: column;
    margin: 0;

    &.ie {
      display: block;
      overflow: auto;
    }

  }

  main {
    flex-grow: 1;
  }

  header, footer{
    padding-bottom: 0;
  }

  ul  {
    margin-bottom: 0;
  }


}
