.categoryList{
  padding-left: 0;


  li{
    color: $themeColor2;
    text-transform: capitalize;
    font-size: $themeFontSize1;
    list-style: none;
    width: $listMobileWidth;
    height: $heightSetting1;
    display: block;
    margin: 0 auto;
    margin-top: $listMobileMargin;
    margin-bottom: $listMobileMargin;
    padding: $paddingSetting5;
  }

}
