
@media (min-width: 500px) {

  .categoryImage  {
    float: left;
    width: $imageMobileWidth2;
    margin-right: $marginSetting3;
    margin-bottom: $marginSetting3;
  }

  body p {
    margin: 0% $marginSetting3 0% $marginSetting3;
  }

  body .paraSection .paraLinks {
    margin-bottom: .75%;
    // color: $themeColor3;
  }

  .homePage p {
    margin: $marginSetting4;
  }


  li.alert.alert-success {
    display: block;
    clear: both;

  }

  button.btn.btn-primary {
    display:block;
    clear: both;
  }

  nav {
    font-size: 1.1em;
  }

}





@media (min-width: 800px) {

    .categoryImage {
    width: $imageMobileWidth3;
  }


  .parkImage {
    width: $imageMobileWidth4;
  }

    .home {
      width: 66%;
      margin-left: 17%;
      margin-right: 17%;
    }


    .homePage p {
      margin: 1.5% 17% 1.5% 17%;
    }


  body p {
    margin: 0% 1% 0% 1%;
  }



  body button.btn.btn-primary {
    margin-top: 2%;
    margin-bottom: 2%;
  }



  body h1 {
    padding-top: 2%;
    padding-bottom: 2%;
  }


}
