
@media (min-width: 500px) {
  .categoryImage  {
    float: left;
    width: $imageMobileWidth2;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  body p {
    margin: 0% 2% 0% 2%;
  }

  li.alert.alert-success {
    display: block;
    clear: both;

  }

  button.btn.btn-primary {
    display:block;
    clear: both;
  }

  nav {
    font-size: 1.1em;
  }


}

@media (min-width: 800px) {
    .categoryImage {
    width: $imageMobileWidth3;
  }
}
