$themeColor1: #e0a85d;
$themeColor2: #000000;
$themeColor3: #f55656;

$themeFontColor1: #fbfbfb;
$themeFontColor2: #15817d;


$themeFontSize1: .90em;


$imageMobileWidth: 100%;
$imageMobileWidth2: 60%;
$imageMobileWidth3: 45%;

$listMobileWidth: 70%;
$listMobileMargin: 2%;

$marginSetting1: 5%;
