nav{
  background-color: $themeColor2;
  font-weight: lighter;
  font-size: .75em;

  li{
    display: inline;
    list-style: none;
    margin-right: 5%;
  }

  a{
    text-decoration: none;
    color: $themeFontColor1;
  }


}
