<h3>Home</h3>

<header class="homepage">

</header>

<img class="categoryImage home" src="../img/greatfalls2.jpg" alt="Image of Fairfax County">

<section>
  <p>
    This website is dedicated to residents and visitors of Fairfax County, who intend to plan a day of indoor and/or outdoor fun activities. This website allows you to look up parks, libraries, reccreational center and shopping centers in your vicinity.
  </p>

  <p>
    Fairfax County offers a beautiful collection of parks and out door activities
    to its residents and visitors. Visitors can enjoy many activities such as hiking , bicycling,
    picnic, camping, boating, fishing, train rides, kayaking, etc. Fairfax County facilities are well maintained
    and hence very well utilized by its residents.
  </p>
</section>

<p>Other useful links to plan your trip to Fairfax County parks.</p>
  <ul>
    <li><a href="https://darksky.net">Weather</a></li>
    <li><a href="https://www.google.com/maps/">Directions</a></li>
    <li><a href="https://www.takemefishing.org/how-to-fish/how-to-catch-fish/">Fishing</a></li>
  </ul>
