<h3>Home</h3>

<!-- <header class="homepage">

</header> -->

<img class="home" src="../img/Great-Falls57.jpg" alt="Image of Fairfax County">

<section class="homePage">
  <p>
    This website is dedicated to residents and visitors of Fairfax County, who intend to plan a day of indoor and/or outdoor fun activities. This website allows you to look up parks, libraries, recreational center and shopping centers close to you in Fairfax. I hope this website is used to enjoy and celebrate beauty and resources of Fairfax County by familes and friends.
  </p>

</section>
