<h3>Libraries</h3>

<img class="categoryImage" src="../img/library2.jpg" alt="Library Image">

<section>
  <p>
    Fairfax County has a robust network of libraries. From fiction to non-fiction, hard cover to electronic, graphic novels to hefty tomes, there’s something to scratch your literary itch. And, the libraries are perfect for all ages. In addition to sprawling shelves, they have meeting rooms for those who need enclosed space, children’s areas full of age-appropriate books, and comfortable seating for those looking to stay a while and delve into the latest novel.
  </p>
</section>


<ul class="categoryList">
  <li ng-repeat="library in library.libraryData" class="alert alert-success" role="alert">
    {{library.doc.metadata.label}}
  </li>
</ul>

<button ng-click="library.getLibrary()" type="button" class="btn btn-primary">Find Libraries</button>

<p>Other useful links to plan your trip to Fairfax County Libraries.</p>
  <ul>
    <li><a href="https://www.goodreads.com/">Find Good Reads</a></li>
    <li><a href="http://www.fairfaxcounty.gov/library/">More about Libraries</a></li>
    <li><a href="https://www.google.com/maps">Direction/Maps</a></li>


  </ul>
