<h1>Parks</h1>

<img src="../img/images-1.jpg" alt="">

  <p>Paragraph about parks in Fairfax County</p>

<p ng-if="vm.message"></p>

<ul>
  <li ng-repeat="park in park.parkData">
    {{park.doc.metadata.label}}
  </li>
</ul>

<button id="parks" type="button" class="btn btn-success" ng-click="park.getParks()">Find Parks in your vicinity</button>




  <h5>Other useful links to plan your trip to Fairfax County parks.</h5>
    <ul>
      <li><a href="https://darksky.net">Weather</a></li>
      <li><a href="http://www.campinglife.com/feature-stories/101-camping-tips/">Camping 101</a></li>
      <li><a href="https://www.takemefishing.org/how-to-fish/how-to-catch-fish/">Fishing</a></li>
    </ul>
