<h3>Parks</h3>

<img class="categoryImage parkImage" src="../img/park3.jpg" alt="Another Park Image">


  <section>

    <p>
      Fairfax County has a number of parks—from big to small—that offer a range of opportunities for hours of fun. They include historic buildings, gorgeous lakes, scenic vegetation, and lots of opportunity to commune with nature  Come row or pedal a boat, engage in a friendly game of disc golf, let the kids run around a playground, take a ride on a carousel, hike or bike a nature trail, mini-golf, take a train ride, play basketball, kick around a soccer ball, barbecue some food, or just spread out a blanket and enjoy the beautiful scenery.
    </p>

    <!-- <p>
      Whether you’re looking to fill a day with vigorous activity or just drop in for some quick and fun relaxation, there’s a nearby park for you. Some parks offer free entrance while others charge a nominal fee for non-County residents. Parking is generally available. Snacks such as ice cream and vending machines are available in some locations. Restrooms available at the larger parks.
    </p> -->
  </section>





<p ng-show="park.message" class="errorMsg">{{park.message}}</p>

<!-- <p ng-show="park.message2" class="errorMsg">{{park.message2}}</p> -->


<ul class="categoryList">
  <li ng-repeat="park in park.parkData" class="alert alert-success" role="alert">
    {{park.doc.metadata.label.toLowerCase()}}
  </li>
</ul>



<button type="button" ng-click="park.getParks()" type="button" class="btn btn-primary">Find Parks</button>




  <p>Other useful links to plan your trip to Fairfax County Parks.</p>
    <ul>
      <li><a href="https://darksky.net" target="_blank">Weather</a></li>
      <li><a href="https://www.google.com/maps" target="_blank">Direction/Maps</a></li>
      <li><a href="http://www.fairfaxcounty.gov/parks/" target="_blank">More about Parks</a></li>
    </ul>
