<h3>Rec-Centers</h3>

<img class="categoryImage" src="../img/rec2.jpg" alt="Recerational Center Image">


<section>
  <p>
    Fairfax County boasts a large network of recreational centers spread throughout the county. They offer great opportunities to exercise and are a particularly great resource for the cold winter months when outdoor activities are limited. Centers’ doors are open to club members as well as individuals and families who purchase guest passes. While amenities vary across facilities, all offer great opportunities for activity. Kids especially enjoy the pool areas and the soft playrooms offered at select centers. Adults tend to be partial to the hot tubs and saunas.  All centers offer locker facilities.
  </p>

  <!-- <p>
    The centers also offer a plethora of classes, many of which require advanced seasonal registration. From swimming to gymnastics to team sports, these something for every type of athlete.
  </p> -->
</section>


<p ng-show="center.message">{{center.message}}</p>



<ul class="categoryList">
  <li ng-repeat="center in center.centerData" class="alert alert-success" role="alert">
    {{center.doc.metadata.label}}
  </li>
</ul>



<button id="center" ng-click="center.getCenter()" type="button" class="btn btn-primary">Find Rec-Centers</button>

<p>Other useful links to plan your trip to Fairfax County Rec-Centers.</p>
  <ul>
    <li><a href="http://www.fairfaxcounty.gov/parks/wp-recenter.htm" target="_blank">More about Rec-Centers</a></li>
    <li><a href="https://www.google.com/maps" target="_blank">Direction/Maps</a></li>
    <li><a href="https://darksky.net" target="_blank">Weather</a></li>
  </ul>
